import("Matrix")
import("stringdist")
export("spell_correction")
export("lemmatisation")
export("verbatim_exclusion")
export("word_exclusion")
export("force_encoding")
export("idiomatic_correction")
export("topic_clustering")
export("cloud_tree")
export("word_distance")
export("intermediary_report_simple_analysis")
export("intermediary_report")
export("stem_complete")
export("final_report_verbatim")
export("remove_small_word")
