import("Matrix")
import("stringdist")
export("spell_correction")
export("lemmatisation")
export("verbatim_exclusion")
export("word_exclusion")
export("force_encoding")
export("idiomatic_correction")
export("topic_clustering")
export("topic_clustering_divide")
export("transform_topic_to_rule")
export("topic_clustering_remove")
export("topic_clustering_merge")
export("transform_rule_to_topic")
export("topic_clustering_modify")
export("topic_clustering_add")
export("remove_redundant")
export("cloud_tree")
export("word_distance")
export("intermediary_report_simple_analysis")
export("intermediary_report")
export("stem_complete")
export("final_report_verbatim")
export("remove_small_word")
export("verbatim_dedouble")
export("compare_verbatim_report")
